<launch>
<!--  ebot with ur5 -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ebot_gazebo)/urdf/agri_bot.xacro'"/>
  

    <arg name="x" default="0.8"/>
    <arg name="y" default="-1.42"/>
    <!-- <arg name="x" default="0.7810873453161404"/>
    <arg name="y" default="6.363645870164658"/> -->
    <!-- <arg name="x" default="2.3810873453161404"/>
    <arg name="y" default="4.003645870164658"/> -->
    <arg name="z" default="0.169"/>
    <arg name="yaw" default="1.57"/> 

<param name="use_sim_time" value="true"/>
<!-- Spawn the robot model -->
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
        args="-urdf -param robot_description -model ebot -x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw) " />


 <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="80.0" />
    <param name="tf_prefix" type="string" value="" />
</node>
<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/joint_states]</rosparam>
</node>

   

<!-- load tomato plant with eyantra greenhouse model -->
    <include file="$(find tomato_gazebo)/launch/green_house.launch"/>

<remap from="odom" to="/odom" />
<remap from="imu_data" to="/imu" />
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="base_footprint_frame" value="ebot_base"/>
    <param name="freq" value="80.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="gps_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>


<!-- include your manipulation launch file  -->
<include file="$(find agri_bot_moveit)/launch/ur5_bringup_moveit.launch"/>
<!-- <node pkg="agri_bot_perception" name="perception" type="perception.py" output="screen"/> -->
<include file="$(find ebot_nav)/launch/nav.launch"/>
<!-- <node name="navigation" pkg="ebot_nav" type="navigation" output="screen"/> -->
<node name="perception" pkg="agri_bot_perception" type="perception" output="screen"/>
<!-- <node name="manipulation" pkg="agri_bot_moveit" type="manipulation" output="screen"/> -->
<node name="aruco" pkg="agri_bot_perception" type="aruco" output="screen"/>


<!-- include your ros node for manipulation -->



<!-- include your perception pipeline -->


  
</launch>
